
<form action="/square_root/results">
  <div>
    <label for="number_input">
      Enter a number
    </label>

    <input id="number_input" text="text" name="user_number" placeholder="What number do you want to take the square root of?">
  </div>

  <button>
    Calculate square root
  </button>
</form>