<dl>
  <dt>
    Number
  </dt>
  <dd>
    <%= @rootnum%>
  </dd>

  <dt>
    Square Root
  </dt>
  <dd>
    <%= @squareroot_of_num%>
  </dd>
</dl>

<a href="/square_root/new">
  Calculate another square root
</a>